<div class="header">
  <%= render "schedules/menu_bar"%>
</div>
<div id="clock-frame">
  <span id="clock_date"></span>
  <span id="clock_time"></span>
</div>
<div class="stamping">
<%= form_with url:"/work_times", method: :post, id: "form" do |f|%>
<%= f.submit "出勤", id:"submit"%>
<% end %>
<div id="list"></div>

<% @work_times.each do |work_time|%>
  <div class="work-time" data-id = <%= work_time.id%>>
    <div class="work-time-date">
      <%= work_time.time.strftime("%Y-%m-%d %H:%M:%S") %>
    </div>
  </div>
<% end %>



