<div class="main">
  <% if user_signed_in? %>
    <div class="calendar">
      <%= month_calendar events: @meetings do |date,meetings| %>
        <%= date%>
          <% meetings.each do |meeting| %>
            <div>
              <%= meeting.name %>
            </div>
          <% end %> 
        <% end%>
    </div>
    <div class="memo">
      <div class="memo-all">
  <div class="text-text">
  <%= form_with url:"/schedules",method: :post,class:"text-form",local:true do |f|%>
  <%= f.text_area :text%>
  <%= f.submit "登録"%>
  <% end %>
  <div id="text-list"><div>
  </div>
  <div class="text-lists">
  <%= @schedules.each do |schecule|%>
    <div class="text-data" data-id = <%= schecule.id%>>
      <div class="text-data-list">
        <%= schecule.text%>
      </div>
    </div>
   <%end%>
  </div>
</div>

    </div>
  <% end %>
</div> 