<div class="header">
  <%= render "meetings/menu_bar"%>
</div>
<div class="main">
<div class="clock-all">
  <div class="clock">
    <div class="clock-frame",id="clock-frame">
      <span id="clock-date"></span>
      <span id="clock-time"></span>
    </div>    
    <div class="stamping">
      <%= form_with url:work_times_path, id: "form",local:true do |f|%>
        <%= f.submit "出勤", class:"stamping-btn",id:"submit"%>
      <% end %>
      <%= form_with url:leave_times_path, id: "form",local:true do |f|%>
        <%= f.submit "退勤", class:"stamping-btn",id:"submit"%>
      <% end %>
    </div>
  </div>
</div>

  <div class="working-data">
    <div class="time-dates">
        <% @work_times.each do |work_time|%>
        <div class="time-date">
          出社ー<%= work_time.attendance.strftime("%Y年,%m月%d日,%H時%M分")%>
        </div>
        <% end %>
    </div>
    <div class="time-dates">
      <% @leave_times.each do |leave_time|%>
        <div class="time-date">
          退社ー<%= leave_time.leave.strftime("%Y年,%m月%d日,%H時%M分")%>
        </div>
      <% end %>
    </div>
  </div>
</div>




