<div class="header">
  <%= render "schedules/menu_bar"%>
</div>
<div class="main">
  <h2 class="client-content">顧客情報</h2>
  <%= link_to "顧客情報変更",edit_client_path, class: "content-tab"%>
    <div class="client-date-list">
      <label class="client-item">名前</label>
      <div class="client-value"><%= @client.name%></div>
      <label class="client-item">郵便番号</label>
      <div class="client-value"><%= @client.postal_code%></div>
      <label class="client-item">都道府県</label>
      <div class="client-value"><%= @client.prefectures[:name]%></div>
      <label class="client-item">市町村</label>
      <div class="client-value"><%= @client.city%></div>
      <label class="client-item">番地</label>
      <div class="client-value"><%= @client.address%></div>
      <label class="client-item">ビル名</label>
      <div class="client-value"><%= @client.building_name%></div>
      <label class="client-item">電話番号</label>
      <div class="client-value"><%= @client.phone_number%></div>
    </div>

    <div class="purchaser-data">
      <h2 class="heading">購入履歴</h2>
      <%= link_to "購入履歴登録",new_client_purchaser_path(@client), class:"content-tab"%>
    </div>
    <div class="purchaser-data-list">
    <%@purchasers.each do |purchaser|%>
    <%=purchaser.buyday%>
    <%=purchaser.product_specification[:name]%>
    <%=purchaser.unit_price%>
    <%=purchaser.quanity%>
    <%=purchaser.amount%>
    <%= link_to "編集", edit_client_purchaser_path(@client.id,purchaser.id), class: "purchaser-edit"%>
    <%= link_to "削除", client_purchaser_path(@client.id,purchaser.id),method: :delete,class: "purchaser-destroy"%>
    <% end %>
    </div>

</div>