<div class="header">
  <%= render "schedules/menu_bar"%>
</div>
<div class="main">
  <%= form_with url:products_path,class:"product-save", local:true do |f|%>
  <div class="product-group">
    <label class="product-text">製品名</label>
    <%= f.text_field :name, class:"input-default"%>
  </div>
  <div class="product-group">
    <label class="product-text">グレード</label>
    <%= f.collection_select(:grade_id, Grade.all, :id,:name,{}, {class:"select-box", id:"grade"})%>
  </div>
  <div class="product-group">
    <label class="product-text">価格</label>
    <%= f.text_field :price, class:"input-default"%>
  </div>
  <div class="save-btn">
    <%=f.submit "登録", class:"save-blue-btn"%>
  </div>
  <% end %>
</div>
